USE [master]
GO
/****** Object:  Database [HRSystem]    Script Date: 12/8/2025 10:04:18 PM ******/
CREATE DATABASE [HRSystem]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HRSystem', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\HRSystem.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HRSystem_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\HRSystem_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HRSystem].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HRSystem]
GO
/****** Object:  Table [dbo].[Tbl_Attendance]    Script Date: 12/8/2025 10:04:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Attendance](
	[AttendanceId] [nvarchar](200) NOT NULL,
	[AttendanceCode] [nvarchar](50) NOT NULL,
	[EmployeeCode] [nvarchar](50) NULL,
	[AttendanceDate] [datetime2](7) NULL,
	[CheckInTime] [datetime2](7) NULL,
	[CheckInLocation] [nvarchar](50) NULL,
	[CheckOutTime] [datetime2](7) NULL,
	[CheckOutLocation] [nvarchar](50) NULL,
	[WorkingHour] [decimal](4, 2) NULL,
	[HourLateFlag] [int] NULL,
	[HalfDayFlag] [int] NULL,
	[FullDayFlag] [int] NULL,
	[Remark] [nvarchar](200) NULL,
	[IsCheckInLocationSaved] [bit] NULL,
	[CreatedBy] [nvarchar](200) NULL,
	[CreatedAt] [datetime2](7) NULL,
	[ModifiedBy] [nvarchar](200) NULL,
	[ModifiedAt] [datetime2](7) NULL,
	[DeleteFlag] [bit] NOT NULL,
	[IsCheckOutLocationSaved] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[AttendanceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_CompanyRule]    Script Date: 12/8/2025 10:04:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_CompanyRule](
	[CompanyRuleId] [nvarchar](200) NOT NULL,
	[CompanyRuleCode] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](200) NULL,
	[Value] [nvarchar](50) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](200) NOT NULL,
	[ModifiedAt] [datetime2](7) NULL,
	[ModifiedBy] [nvarchar](200) NULL,
	[DeleteFlag] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CompanyRuleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Employee]    Script Date: 12/8/2025 10:04:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Employee](
	[EmployeeId] [nvarchar](200) NOT NULL,
	[EmployeeCode] [nvarchar](50) NOT NULL,
	[RoleCode] [nvarchar](50) NOT NULL,
	[Username] [nvarchar](200) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Email] [nvarchar](200) NOT NULL,
	[Password] [varchar](max) NOT NULL,
	[PhoneNo] [nvarchar](50) NOT NULL,
	[ProfileImage] [nvarchar](200) NOT NULL,
	[StartDate] [datetime2](7) NOT NULL,
	[ResignDate] [datetime2](7) NULL,
	[Salary] [decimal](18, 2) NOT NULL,
	[IsFirstTimeLogin] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](200) NOT NULL,
	[ModifiedAt] [datetime2](7) NULL,
	[ModifiedBy] [nvarchar](200) NULL,
	[DeleteFlag] [bit] NOT NULL,
	[Gender] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_EmployeeProject]    Script Date: 12/8/2025 10:04:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_EmployeeProject](
	[EmployeeProjectId] [nvarchar](200) NOT NULL,
	[EmployeeProjectCode] [nvarchar](50) NOT NULL,
	[ProjectCode] [nvarchar](50) NULL,
	[EmployeeCode] [nvarchar](50) NULL,
	[CreatedAt] [datetime2](7) NULL,
	[CreatedBy] [nvarchar](200) NULL,
	[ModifiedAt] [datetime2](7) NULL,
	[ModifiedBy] [nvarchar](200) NULL,
	[DeleteFlag] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[EmployeeProjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Holiday]    Script Date: 12/8/2025 10:04:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Holiday](
	[HolidayId] [uniqueidentifier] NOT NULL,
	[HolidayDate] [date] NOT NULL,
	[Description] [nvarchar](100) NULL,
	[IsWorkingHoliday] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[HolidayId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Leave]    Script Date: 12/8/2025 10:04:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Leave](
	[LeaveId] [varchar](50) NOT NULL,
	[EmployeeCode] [varchar](50) NOT NULL,
	[LeaveType] [varchar](30) NULL,
	[Reason] [varchar](255) NULL,
	[StartDate] [date] NULL,
	[EndDate] [date] NULL,
	[TotalHours] [decimal](10, 2) NULL,
	[IsPaid] [bit] NULL,
	[Status] [varchar](20) NULL,
	[ApprovedBy] [varchar](50) NULL,
	[ApprovedAt] [datetime] NULL,
	[CreatedAt] [datetime] NOT NULL,
	[CreatedBy] [varchar](50) NULL,
	[DeleteFlag] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[LeaveId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Location]    Script Date: 12/8/2025 10:04:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Location](
	[LocationId] [nvarchar](200) NOT NULL,
	[LocationCode] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Latitude] [nvarchar](50) NOT NULL,
	[Longitude] [nvarchar](50) NOT NULL,
	[Radius] [nvarchar](50) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](50) NOT NULL,
	[ModifiedBy] [nvarchar](50) NULL,
	[ModifiedAt] [datetime2](7) NULL,
	[DeleteFlag] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[LocationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Menu]    Script Date: 12/8/2025 10:04:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Menu](
	[MenuId] [nvarchar](200) NOT NULL,
	[MenuCode] [nvarchar](50) NOT NULL,
	[MenuGroupCode] [nvarchar](50) NULL,
	[MenuName] [nvarchar](200) NOT NULL,
	[Url] [nvarchar](200) NULL,
	[Icon] [nvarchar](200) NULL,
	[SortOrder] [int] NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](200) NOT NULL,
	[ModifiedAt] [datetime2](7) NULL,
	[ModifiedBy] [nvarchar](200) NULL,
	[DeleteFlag] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MenuId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_MenuGroup]    Script Date: 12/8/2025 10:04:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_MenuGroup](
	[MenuGroupId] [nvarchar](200) NOT NULL,
	[MenuGroupCode] [nvarchar](50) NOT NULL,
	[MenuGroupName] [nvarchar](200) NOT NULL,
	[Url] [nvarchar](200) NULL,
	[Icon] [nvarchar](200) NULL,
	[SortOrder] [int] NULL,
	[HasMenuItem] [bit] NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](200) NOT NULL,
	[ModifiedAt] [datetime2](7) NULL,
	[ModifiedBy] [nvarchar](200) NULL,
	[DeleteFlag] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MenuGroupId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Payroll]    Script Date: 12/8/2025 10:04:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Payroll](
	[PayrollId] [nvarchar](200) NOT NULL,
	[PayrollCode] [nvarchar](50) NOT NULL,
	[EmployeeCode] [nvarchar](50) NULL,
	[PayrollMonth] [nvarchar](20) NULL,
	[Status] [nvarchar](50) NULL,
	[TotalWorkingHour] [decimal](8, 2) NULL,
	[LeaveHour] [decimal](8, 2) NULL,
	[ActualWorkingHour] [decimal](8, 2) NULL,
	[BaseSalary] [decimal](18, 2) NULL,
	[Allowance] [decimal](18, 2) NULL,
	[GrossPay] [decimal](18, 2) NULL,
	[Deduction] [decimal](18, 2) NULL,
	[Tax] [decimal](18, 2) NULL,
	[Bonus] [decimal](18, 2) NULL,
	[NetPay] [decimal](18, 2) NULL,
	[CreatedBy] [nvarchar](200) NULL,
	[CreatedAt] [datetime] NULL,
	[ModifiedBy] [nvarchar](200) NULL,
	[ModifiedAt] [datetime] NULL,
	[DeleteFlag] [bit] NULL,
	[PayrollSummaryCode] [nvarchar](50) NOT NULL,
	[PayrollDate] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PayrollId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_PayrollSummary]    Script Date: 12/8/2025 10:04:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_PayrollSummary](
	[PayrollSummaryId] [int] IDENTITY(1,1) NOT NULL,
	[PayrollMonth] [nvarchar](20) NOT NULL,
	[TotalWorkingDays] [int] NOT NULL,
	[EmployeeCount] [int] NOT NULL,
	[TotalWorkingHours] [decimal](18, 2) NOT NULL,
	[TotalLeaveHours] [decimal](18, 2) NOT NULL,
	[TotalActualWorkingHours] [decimal](18, 2) NOT NULL,
	[TotalBaseSalary] [decimal](18, 2) NOT NULL,
	[TotalNetPay] [decimal](18, 2) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](200) NOT NULL,
	[PayrollSummaryCode] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PayrollSummaryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Permission]    Script Date: 12/8/2025 10:04:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Permission](
	[PermissionId] [nvarchar](200) NOT NULL,
	[PermissionCode] [nvarchar](50) NOT NULL,
	[PermissionName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PermissionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Project]    Script Date: 12/8/2025 10:04:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Project](
	[ProjectId] [nvarchar](200) NOT NULL,
	[ProjectCode] [nvarchar](50) NOT NULL,
	[ProjectName] [nvarchar](200) NOT NULL,
	[ProjectDescription] [nvarchar](200) NULL,
	[StartDate] [datetime2](7) NULL,
	[EndDate] [datetime2](7) NULL,
	[ProjectStatus] [nvarchar](50) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](200) NOT NULL,
	[ModifiedAt] [datetime2](7) NULL,
	[ModifiedBy] [nvarchar](200) NULL,
	[DeleteFlag] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ProjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_RefreshToken]    Script Date: 12/8/2025 10:04:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_RefreshToken](
	[Token] [nvarchar](200) NOT NULL,
	[JwtId] [nvarchar](450) NOT NULL,
	[ExpiryDate] [datetime2](7) NOT NULL,
	[RevokedAt] [datetime2](7) NULL,
	[IsRevoked] [bit] NOT NULL,
	[EmployeeCode] [nvarchar](50) NOT NULL,
	[CreatedBy] [nvarchar](200) NULL,
	[CreatedAt] [datetime2](7) NULL,
	[ModifiedBy] [nvarchar](200) NULL,
	[ModifiedAt] [datetime2](7) NULL,
	[DeleteFlag] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Token] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Role]    Script Date: 12/8/2025 10:04:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Role](
	[RoleId] [nvarchar](200) NOT NULL,
	[RoleCode] [nvarchar](50) NOT NULL,
	[RoleName] [nvarchar](200) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](200) NOT NULL,
	[ModifiedAt] [datetime2](7) NULL,
	[ModifiedBy] [nvarchar](200) NULL,
	[DeleteFlag] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_RoleAndMenuPermission]    Script Date: 12/8/2025 10:04:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_RoleAndMenuPermission](
	[RoleAndMenuPermissionId] [nvarchar](200) NOT NULL,
	[RoleAndMenuPermissionCode] [nvarchar](50) NULL,
	[RoleCode] [nvarchar](50) NOT NULL,
	[MenuGroupCode] [nvarchar](50) NULL,
	[MenuCode] [nvarchar](50) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](200) NOT NULL,
	[ModifiedAt] [datetime2](7) NULL,
	[ModifiedBy] [nvarchar](200) NULL,
	[DeleteFlag] [bit] NOT NULL,
	[PermissionCode] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleAndMenuPermissionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Sequence]    Script Date: 12/8/2025 10:04:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Sequence](
	[SequenceId] [nvarchar](200) NOT NULL,
	[UniqueName] [nvarchar](50) NULL,
	[SequenceNo] [nvarchar](50) NULL,
	[SequenceDate] [datetime] NULL,
	[SequenceType] [nvarchar](50) NULL,
	[DeleteFlag] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[SequenceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Task]    Script Date: 12/8/2025 10:04:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Task](
	[TaskId] [nvarchar](200) NOT NULL,
	[TaskCode] [nvarchar](50) NOT NULL,
	[EmployeeCode] [nvarchar](50) NULL,
	[ProjectCode] [nvarchar](50) NULL,
	[TaskName] [nvarchar](50) NULL,
	[TaskDescription] [nvarchar](200) NULL,
	[StartDate] [datetime2](7) NULL,
	[EndDate] [datetime2](7) NULL,
	[TaskStatus] [nvarchar](50) NULL,
	[WorkingHour] [decimal](4, 2) NULL,
	[CreatedAt] [datetime2](7) NULL,
	[CreatedBy] [nvarchar](200) NULL,
	[ModifiedAt] [datetime2](7) NULL,
	[ModifiedBy] [nvarchar](200) NULL,
	[DeleteFlag] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[TaskId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Verification]    Script Date: 12/8/2025 10:04:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Verification](
	[VerificationId] [nvarchar](200) NOT NULL,
	[VerificationCode] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](200) NOT NULL,
	[ExpiredTime] [datetime] NULL,
	[IsUsed] [bit] NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](200) NOT NULL,
	[ModifiedAt] [datetime2](7) NULL,
	[ModifiedBy] [nvarchar](200) NULL,
	[DeleteFlag] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[VerificationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Tbl_PayrollSummary] ON 

INSERT [dbo].[Tbl_PayrollSummary] ([PayrollSummaryId], [PayrollMonth], [TotalWorkingDays], [EmployeeCount], [TotalWorkingHours], [TotalLeaveHours], [TotalActualWorkingHours], [TotalBaseSalary], [TotalNetPay], [CreatedAt], [CreatedBy], [PayrollSummaryCode]) VALUES (1, N'Nov 2025', 20, 3, CAST(47.00 AS Decimal(18, 2)), CAST(28.00 AS Decimal(18, 2)), CAST(19.00 AS Decimal(18, 2)), CAST(889575674.00 AS Decimal(18, 2)), CAST(812008250.08 AS Decimal(18, 2)), CAST(N'2025-12-08T21:52:14.9366667' AS DateTime2), N'test', N'PAY_SUM_202511')
SET IDENTITY_INSERT [dbo].[Tbl_PayrollSummary] OFF
GO
INSERT [dbo].[Tbl_RefreshToken] ([Token], [JwtId], [ExpiryDate], [RevokedAt], [IsRevoked], [EmployeeCode], [CreatedBy], [CreatedAt], [ModifiedBy], [ModifiedAt], [DeleteFlag]) VALUES (N'01KBYW6GC1SBXWBDQJ7RGG47M7', N'01KBYW6FPQJTQ69QGF2B2T2HG5', CAST(N'2025-12-15T18:10:23.2988741' AS DateTime2), NULL, 0, N'EMP_251114_0001', N'EMP_251114_0001', CAST(N'2025-12-08T18:10:23.2984464' AS DateTime2), NULL, NULL, 0)
INSERT [dbo].[Tbl_RefreshToken] ([Token], [JwtId], [ExpiryDate], [RevokedAt], [IsRevoked], [EmployeeCode], [CreatedBy], [CreatedAt], [ModifiedBy], [ModifiedAt], [DeleteFlag]) VALUES (N'01KBYXRR1Z9Y99ATCZVNXPV1A3', N'01KBYXRQR8MKCT26EJPWR49YPY', CAST(N'2025-12-15T18:37:49.5673410' AS DateTime2), NULL, 0, N'EMP_251114_0001', N'EMP_251114_0001', CAST(N'2025-12-08T18:37:49.5673390' AS DateTime2), NULL, NULL, 0)
INSERT [dbo].[Tbl_RefreshToken] ([Token], [JwtId], [ExpiryDate], [RevokedAt], [IsRevoked], [EmployeeCode], [CreatedBy], [CreatedAt], [ModifiedBy], [ModifiedAt], [DeleteFlag]) VALUES (N'01KBYXSCSCD51S5C1FRV32485Q', N'01KBYXSCFW8PK8ENEBNCWKMRK7', CAST(N'2025-12-15T18:38:10.7968858' AS DateTime2), NULL, 0, N'EMP_251114_0001', N'EMP_251114_0001', CAST(N'2025-12-08T18:38:10.7968844' AS DateTime2), NULL, NULL, 0)
GO
INSERT [dbo].[Tbl_Role] ([RoleId], [RoleCode], [RoleName], [CreatedAt], [CreatedBy], [ModifiedAt], [ModifiedBy], [DeleteFlag]) VALUES (N'01K9PSD63QPCV094WQBTA808DS', N'RL_251110_0003', N'Admin', CAST(N'2025-11-10T11:46:17.4675313' AS DateTime2), N'phyuphyu', NULL, NULL, 0)
GO
INSERT [dbo].[Tbl_Sequence] ([SequenceId], [UniqueName], [SequenceNo], [SequenceDate], [SequenceType], [DeleteFlag]) VALUES (N'019a060b-cb1c-7f6c-bf9a-09535b6a6d46', N'RL', N'0001', CAST(N'2025-11-10T18:13:25.343' AS DateTime), N'TABLE', 0)
INSERT [dbo].[Tbl_Sequence] ([SequenceId], [UniqueName], [SequenceNo], [SequenceDate], [SequenceType], [DeleteFlag]) VALUES (N'019a060b-cb1d-7b04-bc11-8583b3210530', N'USR', N'0001', CAST(N'2025-10-25T18:57:45.840' AS DateTime), N'TABLE', 0)
INSERT [dbo].[Tbl_Sequence] ([SequenceId], [UniqueName], [SequenceNo], [SequenceDate], [SequenceType], [DeleteFlag]) VALUES (N'019a060b-cb1e-7398-97ef-38d6a089783d', N'RL_MENU_PM', N'0001', CAST(N'2025-10-21T16:09:49.000' AS DateTime), N'PERMISSIONS', 0)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Tbl_Atte__013780A26240D576]    Script Date: 12/8/2025 10:04:19 PM ******/
ALTER TABLE [dbo].[Tbl_Attendance] ADD UNIQUE NONCLUSTERED 
(
	[AttendanceCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Tbl_Comp__18933613B32658DE]    Script Date: 12/8/2025 10:04:19 PM ******/
ALTER TABLE [dbo].[Tbl_CompanyRule] ADD UNIQUE NONCLUSTERED 
(
	[CompanyRuleCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Tbl_Empl__1F64254853AB9683]    Script Date: 12/8/2025 10:04:19 PM ******/
ALTER TABLE [dbo].[Tbl_Employee] ADD UNIQUE NONCLUSTERED 
(
	[EmployeeCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Tbl_Empl__51A84C462DFC4189]    Script Date: 12/8/2025 10:04:19 PM ******/
ALTER TABLE [dbo].[Tbl_EmployeeProject] ADD UNIQUE NONCLUSTERED 
(
	[EmployeeProjectCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Tbl_Loca__DDB144D53899B17C]    Script Date: 12/8/2025 10:04:19 PM ******/
ALTER TABLE [dbo].[Tbl_Location] ADD UNIQUE NONCLUSTERED 
(
	[LocationCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Tbl_Menu__868A3A73B9F5D573]    Script Date: 12/8/2025 10:04:19 PM ******/
ALTER TABLE [dbo].[Tbl_Menu] ADD UNIQUE NONCLUSTERED 
(
	[MenuCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Tbl_Menu__22599E841E7123BB]    Script Date: 12/8/2025 10:04:19 PM ******/
ALTER TABLE [dbo].[Tbl_MenuGroup] ADD UNIQUE NONCLUSTERED 
(
	[MenuGroupCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Tbl_Proj__2F3A49488200099C]    Script Date: 12/8/2025 10:04:19 PM ******/
ALTER TABLE [dbo].[Tbl_Project] ADD UNIQUE NONCLUSTERED 
(
	[ProjectCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Tbl_Role__D62CB59CC43DADB0]    Script Date: 12/8/2025 10:04:19 PM ******/
ALTER TABLE [dbo].[Tbl_Role] ADD UNIQUE NONCLUSTERED 
(
	[RoleCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_RoleMenu_Group]    Script Date: 12/8/2025 10:04:19 PM ******/
ALTER TABLE [dbo].[Tbl_RoleAndMenuPermission] ADD  CONSTRAINT [UQ_RoleMenu_Group] UNIQUE NONCLUSTERED 
(
	[RoleAndMenuPermissionCode] ASC,
	[MenuGroupCode] ASC,
	[MenuCode] ASC,
	[PermissionCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Tbl_Task__251D0699517AA42E]    Script Date: 12/8/2025 10:04:19 PM ******/
ALTER TABLE [dbo].[Tbl_Task] ADD UNIQUE NONCLUSTERED 
(
	[TaskCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Tbl_Veri__DA24CB1471918770]    Script Date: 12/8/2025 10:04:19 PM ******/
ALTER TABLE [dbo].[Tbl_Verification] ADD UNIQUE NONCLUSTERED 
(
	[VerificationCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Tbl_Attendance] ADD  DEFAULT ((0)) FOR [DeleteFlag]
GO
ALTER TABLE [dbo].[Tbl_CompanyRule] ADD  DEFAULT ((0)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Tbl_CompanyRule] ADD  DEFAULT ((0)) FOR [DeleteFlag]
GO
ALTER TABLE [dbo].[Tbl_Employee] ADD  DEFAULT ((1)) FOR [IsFirstTimeLogin]
GO
ALTER TABLE [dbo].[Tbl_Employee] ADD  DEFAULT ((0)) FOR [DeleteFlag]
GO
ALTER TABLE [dbo].[Tbl_Holiday] ADD  DEFAULT (newid()) FOR [HolidayId]
GO
ALTER TABLE [dbo].[Tbl_Holiday] ADD  DEFAULT ((0)) FOR [IsWorkingHoliday]
GO
ALTER TABLE [dbo].[Tbl_Leave] ADD  DEFAULT ((0)) FOR [DeleteFlag]
GO
ALTER TABLE [dbo].[Tbl_Location] ADD  DEFAULT ((0)) FOR [DeleteFlag]
GO
ALTER TABLE [dbo].[Tbl_Menu] ADD  DEFAULT ((0)) FOR [DeleteFlag]
GO
ALTER TABLE [dbo].[Tbl_MenuGroup] ADD  DEFAULT ((0)) FOR [DeleteFlag]
GO
ALTER TABLE [dbo].[Tbl_Payroll] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Tbl_PayrollSummary] ADD  DEFAULT ((0)) FOR [TotalWorkingHours]
GO
ALTER TABLE [dbo].[Tbl_PayrollSummary] ADD  DEFAULT ((0)) FOR [TotalLeaveHours]
GO
ALTER TABLE [dbo].[Tbl_PayrollSummary] ADD  DEFAULT ((0)) FOR [TotalActualWorkingHours]
GO
ALTER TABLE [dbo].[Tbl_Project] ADD  DEFAULT ((0)) FOR [DeleteFlag]
GO
ALTER TABLE [dbo].[Tbl_RefreshToken] ADD  DEFAULT ((0)) FOR [IsRevoked]
GO
ALTER TABLE [dbo].[Tbl_Role] ADD  DEFAULT ((0)) FOR [DeleteFlag]
GO
ALTER TABLE [dbo].[Tbl_Verification] ADD  DEFAULT ((0)) FOR [DeleteFlag]
GO
/****** Object:  StoredProcedure [dbo].[GetPayrollList]    Script Date: 12/8/2025 10:04:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetPayrollList]
(   @Bonus DECIMAL(15,0) = 0,
    @EmployeeCode VARCHAR(50),
    @TaxRate DECIMAL(5,2) = 0.05   -- 5% default tax
)
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @Today DATE = GETDATE();

    -- Payroll end date is always 20th of current month if today >= 20
    -- Otherwise, end date is 20th of previous month
    DECLARE @PayrollEnd DATE;
    DECLARE @PayrollStart DATE;

    IF DAY(@Today) >= 20
    BEGIN
    -- End date = 20th of current month
        SET @PayrollEnd = DATEFROMPARTS(YEAR(@Today), MONTH(@Today), 20);
    -- Start date = 20th of previous month
        SET @PayrollStart = DATEADD(MONTH, -1, @PayrollEnd);
    END
    ELSE
    BEGIN
    -- End date = 20th of previous month
        SET @PayrollEnd = DATEADD(MONTH, -1, DATEFROMPARTS(YEAR(@Today), MONTH(@Today), 20));
    -- Start date = 20th of two months ago
        SET @PayrollStart = DATEADD(MONTH, -1, @PayrollEnd);
    END

    SELECT @PayrollStart AS PayrollStartDate, @PayrollEnd AS PayrollEndDate;

    ------------------------ start of payroll -----------------
    DECLARE @PayrollCode VARCHAR(50) = CONCAT('PYR-', FORMAT(GETDATE(),'yyyyMMddHHmmss'));
    
    --------------------------------leave summary ---------------------------------
    ;WITH LeaveSummary AS (
    SELECT 
        EmployeeCode,
        SUM(CASE WHEN IsPaid = 0 THEN TotalHours ELSE 0 END) AS UnpaidLeaveHours,
        SUM(CASE WHEN IsPaid = 1 THEN TotalHours ELSE 0 END) AS PaidLeaveHours
    FROM Tbl_Leave
    WHERE EmployeeCode = @EmployeeCode
      AND Status = 'Approved'
      AND DeleteFlag = 0
      AND StartDate BETWEEN @PayrollStart AND @PayrollEnd
    GROUP BY EmployeeCode
    ),
    

    ---------------------------- Attendance Summary ------------------------------------

    AttSummary AS (
        SELECT 
            A.EmployeeCode,
            SUM(A.WorkingHour) AS TotalWorkingHour,
            E.Name,
            E.Salary AS BaseSalary
        FROM Tbl_Attendance A
        INNER JOIN Tbl_Employee E
            ON A.EmployeeCode = E.EmployeeCode
        LEFT JOIN Tbl_Holiday H
            ON A.AttendanceDate = H.HolidayDate
        WHERE A.EmployeeCode = @EmployeeCode
          AND AttendanceDate BETWEEN @PayrollStart AND @PayrollEnd
          AND A.DeleteFlag = 0
        GROUP BY A.EmployeeCode, E.Name, E.Salary
    )

    INSERT INTO Tbl_Payroll
    (
        PayrollId,
        PayrollCode,
        EmployeeCode,
        PayrollDate,
        TotalWorkingHour,
        LeaveHour,
        ActualWorkingHour,
        BaseSalary,
        Bonus,
        GrossPay,
        Deduction,
        Tax,
        NetPay,
        Status,
        CreatedBy,
        CreatedAt,
        DeleteFlag
    )
    SELECT
        NEWID(),
        @PayrollCode,
        @EmployeeCode,
        @PayrollEnd,
        TotalWorkingHour,
        L.UnpaidLeaveHours,
        (TotalWorkingHour - L.UnpaidLeaveHours) AS ActualWorkingHour,
        BaseSalary,
        @Bonus,
        (BaseSalary + @Bonus) AS GrossPay,
        (L.UnpaidLeaveHours * (BaseSalary / NULLIF(TotalWorkingHour, 0))) AS Deduction,
        ((BaseSalary + @Bonus) * @TaxRate) AS Tax,
        ((BaseSalary + @Bonus) - ((BaseSalary + @Bonus) * @TaxRate) 
            - (L.UnpaidLeaveHours * (BaseSalary / NULLIF(TotalWorkingHour, 0)))) AS NetPay,
        'FINALIZED',
        'System',
        GETDATE(),
        0
    FROM AttSummary A
    LEFT JOIN LeaveSummary L
    ON A.EmployeeCode = L.EmployeeCode;

    SELECT *
    FROM Tbl_Payroll
    WHERE PayrollCode = @PayrollCode;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GenerateCode]    Script Date: 12/8/2025 10:04:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GenerateCode] @CodePrefix NVARCHAR(50),
                                 @GeneratedCode NVARCHAR(100) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @TodayDate NVARCHAR(8) = CONVERT(NVARCHAR(8), GETDATE(), 12); -- yymmdd
    DECLARE @CurrentSeqNo INT;
    DECLARE @NewSeqNo NVARCHAR(50);
    DECLARE @UniqueName NVARCHAR(100);
    DECLARE @StoredDate DATE;

    -- Determine UniqueName
--     IF @CodePrefix = 'TASK' AND @ProjectCode IS NOT NULL
--         SET @UniqueName = 'TASK_' + @ProjectCode;
--     ELSE
    SET @UniqueName = @CodePrefix;

    -- Get current sequence and stored date
    SELECT @CurrentSeqNo = TRY_CAST(SequenceNo AS INT),
           @StoredDate = CAST(SequenceDate AS DATE)
    FROM Tbl_Sequence
    WHERE UniqueName = @UniqueName
      AND DeleteFlag = 0;

    -- If no row exists, return NULL
    IF @CurrentSeqNo IS NULL OR @StoredDate IS NULL
        BEGIN
            SET @GeneratedCode = NULL;
            RETURN;
        END

    -- Reset if date is older than today
    IF @StoredDate < CAST(GETDATE() AS DATE)
        SET @CurrentSeqNo = 1;
    ELSE
        SET @CurrentSeqNo = @CurrentSeqNo + 1;

    -- Format sequence number
    SET @NewSeqNo = RIGHT('0000' + CAST(@CurrentSeqNo AS NVARCHAR(50)), 4);

    -- Update sequence
    UPDATE Tbl_Sequence
    SET SequenceNo   = @NewSeqNo,
        SequenceDate = GETDATE()
    WHERE UniqueName = @UniqueName
      AND DeleteFlag = 0;

    -- Build final code
--     IF @CodePrefix = 'TASK' AND @ProjectCode IS NOT NULL
--         SET @GeneratedCode = 'TASK_' + @ProjectCode + '_' + @NewSeqNo;
--     ELSE
        SET @GeneratedCode = @CodePrefix + '_' + @TodayDate + '_' + @NewSeqNo;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_ProcessPayroll]    Script Date: 12/8/2025 10:04:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ProcessPayroll] @PayrollMonth NVARCHAR(7), -- format: 'YYYY-MM'
                                   @CreatedBy NVARCHAR(200)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @PayrollStartDate DATE;
    DECLARE @PayrollEndDate DATE;
    DECLARE @WorkingDays INT;
    DECLARE @PayrollDate DATETIME = GETDATE();
    DECLARE @PayrollCodePrefix NVARCHAR(50);
    DECLARE @PayrollSummaryCodePrefix NVARCHAR(50);
    DECLARE @PayrollSummaryCode NVARCHAR(50);

    -- Derive start and end dates
    SET @PayrollStartDate = CAST(@PayrollMonth + '-01' AS DATE);
    SET @PayrollEndDate = EOMONTH(@PayrollStartDate);

    -- Prefixes
    SELECT TOP 1 @PayrollCodePrefix = UniqueName
    FROM Tbl_Sequence
    WHERE SequenceType = 'PAYROLL';

    SELECT TOP 1 @PayrollSummaryCodePrefix = UniqueName
    FROM Tbl_Sequence
    WHERE SequenceType = 'PAYROLL SUMMARY';

    -- Generate summary code
    SET @PayrollSummaryCode = @PayrollSummaryCodePrefix + '_' + FORMAT(@PayrollStartDate, 'yyyyMM');

    -- Count working days
    WITH DateSeries AS (SELECT @PayrollStartDate AS WorkDate
                        UNION ALL
                        SELECT DATEADD(DAY, 1, WorkDate)
                        FROM DateSeries
                        WHERE DATEADD(DAY, 1, WorkDate) <= @PayrollEndDate)
    SELECT @WorkingDays = COUNT(*)
    FROM DateSeries d
    WHERE DATENAME(WEEKDAY, d.WorkDate) NOT IN ('Saturday', 'Sunday')
      AND NOT EXISTS (SELECT 1
                      FROM Tbl_Holiday h
                      WHERE h.HolidayDate = d.WorkDate
                        AND h.IsWorkingHoliday = 0)
    OPTION (MAXRECURSION 0);

    -- Cursor for employees
    DECLARE EmployeeCursor CURSOR FOR
        SELECT EmployeeCode, Salary
        FROM Tbl_Employee
        WHERE DeleteFlag = 0
          AND StartDate <= @PayrollEndDate
          AND (ResignDate IS NULL OR ResignDate >= @PayrollStartDate);

    DECLARE @EmployeeCode NVARCHAR(50);
    DECLARE @Salary DECIMAL(18, 2);
    DECLARE @TotalWorkingHour DECIMAL(8, 2);
    DECLARE @HourLate INT;
    DECLARE @HalfDay INT;
    DECLARE @FullDay INT;
    DECLARE @LeaveHour DECIMAL(8, 2);
    DECLARE @ActualWorkingHour DECIMAL(8, 2);
    DECLARE @HourlyRate DECIMAL(18, 2);
    DECLARE @BaseSalary DECIMAL(18, 2);
    DECLARE @Allowance DECIMAL(18, 2) = 0;
    DECLARE @Bonus DECIMAL(18, 2) = 0;
    DECLARE @Deduction DECIMAL(18, 2);
    DECLARE @Tax DECIMAL(18, 2) = 0;
    DECLARE @GrossPay DECIMAL(18, 2);
    DECLARE @NetPay DECIMAL(18, 2);
    DECLARE @PayrollCode NVARCHAR(50);

    OPEN EmployeeCursor;
    FETCH NEXT FROM EmployeeCursor INTO @EmployeeCode, @Salary;

    WHILE @@FETCH_STATUS = 0
        BEGIN
            -- Attendance aggregation
            SELECT @TotalWorkingHour = ISNULL(SUM(WorkingHour), 0),
                   @HourLate = ISNULL(SUM(HourLateFlag), 0),
                   @HalfDay = ISNULL(SUM(HalfDayFlag), 0),
                   @FullDay = ISNULL(SUM(FullDayFlag), 0)
            FROM Tbl_Attendance
            WHERE EmployeeCode = @EmployeeCode
              AND AttendanceDate BETWEEN @PayrollStartDate AND @PayrollEndDate
              AND DeleteFlag = 0;

            -- Leave hours and actual hours
            SET @LeaveHour = (@HourLate * 1) + (@HalfDay * 4) + (@FullDay * 8);
            SET @ActualWorkingHour = @TotalWorkingHour - @LeaveHour;

            -- Hourly rate
            IF @WorkingDays > 0
                SET @HourlyRate = @Salary / (@WorkingDays * 8);
            ELSE
                SET @HourlyRate = 0;

            -- Base salary = full monthly salary
            SET @BaseSalary = ROUND(@Salary, 2);

            -- Deduction = hourly rate × leave hours
            SET @Deduction = ROUND(@HourlyRate * @LeaveHour, 2);

            -- Gross & Net
            SET @GrossPay = @BaseSalary + @Allowance + @Bonus;
            SET @NetPay = @GrossPay - @Deduction - @Tax;

            -- Payroll code per employee
            SET @PayrollCode = @PayrollCodePrefix + '_' + @EmployeeCode + '_' + FORMAT(@PayrollStartDate, 'yyyyMM');

            -- Insert payroll record
            INSERT INTO Tbl_Payroll (PayrollId, PayrollSummaryCode, PayrollCode, EmployeeCode, PayrollDate,
                                     PayrollMonth, Status, -- 111
                                     TotalWorkingHour, LeaveHour, ActualWorkingHour,
                                     BaseSalary, Allowance, GrossPay, Deduction, Tax, Bonus, NetPay,
                                     CreatedBy, CreatedAt, DeleteFlag)
            VALUES (NEWID(), @PayrollSummaryCode, @PayrollCode, @EmployeeCode, @PayrollDate,
                    FORMAT(@PayrollStartDate, 'MMM yyyy'), 'Generated',
                    @TotalWorkingHour, @LeaveHour, @ActualWorkingHour,
                    @BaseSalary, @Allowance, @GrossPay, @Deduction, @Tax, @Bonus, @NetPay,
                    @CreatedBy, GETDATE(), 0);

            FETCH NEXT FROM EmployeeCursor INTO @EmployeeCode, @Salary;
        END

    CLOSE EmployeeCursor;
    DEALLOCATE EmployeeCursor;

    -- Insert monthly payroll summary
    INSERT INTO Tbl_PayrollSummary (PayrollSummaryCode, PayrollMonth, TotalWorkingDays, EmployeeCount,
                                    TotalWorkingHours, TotalLeaveHours, TotalActualWorkingHours,
                                    TotalBaseSalary, TotalNetPay,
                                    CreatedBy, CreatedAt)
    SELECT @PayrollSummaryCode,
           FORMAT(@PayrollStartDate, 'MMM yyyy') AS PayrollMonth,
           @WorkingDays                          AS TotalWorkingDays,
           COUNT(*)                              AS EmployeeCount,
           COALESCE(SUM(TotalWorkingHour), 0)    AS TotalWorkingHours,
           COALESCE(SUM(LeaveHour), 0)           AS TotalLeaveHours,
           COALESCE(SUM(ActualWorkingHour), 0)   AS TotalActualWorkingHours,
           COALESCE(SUM(BaseSalary), 0)          AS TotalBaseSalary,
           COALESCE(SUM(NetPay), 0)              AS TotalNetPay,
           @CreatedBy,
           GETDATE()
    FROM Tbl_Payroll
    WHERE PayrollSummaryCode = @PayrollSummaryCode
      AND DeleteFlag = 0;
END
GO
USE [master]
GO
