USE [HRSystem]
GO
/****** Object:  Table [dbo].[Tbl_Attendance]    Script Date: 11/2/2025 9:37:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Attendance](
	[AttendanceId] [nvarchar](200) NOT NULL,
	[AttendanceCode] [nvarchar](50) NOT NULL,
	[EmployeeCode] [nvarchar](50) NULL,
	[AttendanceDate] [datetime2](7) NULL,
	[CheckInTime] [datetime2](7) NULL,
	[CheckInLocation] [nvarchar](50) NULL,
	[CheckOutTime] [datetime2](7) NULL,
	[CheckOutLocation] [nvarchar](50) NULL,
	[WorkingHour] [decimal](4, 2) NULL,
	[HourLateFlag] [int] NULL,
	[HalfDayFlag] [int] NULL,
	[FullDayFlag] [int] NULL,
	[Remark] [nvarchar](200) NULL,
	[IsSavedLocation] [bit] NULL,
	[CreatedBy] [nvarchar](200) NULL,
	[CreatedAt] [datetime2](7) NULL,
	[ModifiedBy] [nvarchar](200) NULL,
	[ModifiedAt] [datetime2](7) NULL,
	[DeleteFlag] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AttendanceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_CompanyRule]    Script Date: 11/2/2025 9:37:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_CompanyRule](
	[CompanyRuleId] [nvarchar](200) NOT NULL,
	[CompanyRuleCode] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](200) NULL,
	[Value] [nvarchar](50) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](200) NOT NULL,
	[ModifiedAt] [datetime2](7) NULL,
	[ModifiedBy] [nvarchar](200) NULL,
	[DeleteFlag] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CompanyRuleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Employee]    Script Date: 11/2/2025 9:37:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Employee](
	[EmployeeId] [nvarchar](200) NOT NULL,
	[EmployeeCode] [nvarchar](50) NOT NULL,
	[RoleCode] [nvarchar](50) NOT NULL,
	[Username] [nvarchar](200) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Email] [nvarchar](200) NOT NULL,
	[Password] [varchar](max) NOT NULL,
	[PhoneNo] [nvarchar](50) NOT NULL,
	[ProfileImage] [nvarchar](200) NOT NULL,
	[StartDate] [datetime2](7) NOT NULL,
	[ResignDate] [datetime2](7) NULL,
	[Salary] [decimal](18, 2) NOT NULL,
	[IsFirstTimeLogin] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](200) NOT NULL,
	[ModifiedAt] [datetime2](7) NULL,
	[ModifiedBy] [nvarchar](200) NULL,
	[DeleteFlag] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_EmployeeProject]    Script Date: 11/2/2025 9:37:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_EmployeeProject](
	[EmployeeProjectId] [nvarchar](200) NOT NULL,
	[EmployeeProjectCode] [nvarchar](50) NOT NULL,
	[ProjectCode] [nvarchar](50) NULL,
	[EmployeeCode] [nvarchar](50) NULL,
	[CreatedAt] [datetime2](7) NULL,
	[CreatedBy] [nvarchar](200) NULL,
	[ModifiedAt] [datetime2](7) NULL,
	[ModifiedBy] [nvarchar](200) NULL,
	[DeleteFlag] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[EmployeeProjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Location]    Script Date: 11/2/2025 9:37:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Location](
	[LocationId] [nvarchar](200) NOT NULL,
	[LocationCode] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Latitude] [nvarchar](50) NOT NULL,
	[Longitude] [nvarchar](50) NOT NULL,
	[Radius] [nvarchar](50) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](50) NOT NULL,
	[ModifiedBy] [nvarchar](50) NULL,
	[ModifiedAt] [datetime2](7) NULL,
	[DeleteFlag] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[LocationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Menu]    Script Date: 11/2/2025 9:37:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Menu](
	[MenuId] [nvarchar](200) NOT NULL,
	[MenuCode] [nvarchar](50) NOT NULL,
	[MenuGroupCode] [nvarchar](50) NULL,
	[MenuName] [nvarchar](200) NOT NULL,
	[Url] [nvarchar](200) NULL,
	[Icon] [nvarchar](200) NULL,
	[SortOrder] [int] NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](200) NOT NULL,
	[ModifiedAt] [datetime2](7) NULL,
	[ModifiedBy] [nvarchar](200) NULL,
	[DeleteFlag] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MenuId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_MenuGroup]    Script Date: 11/2/2025 9:37:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_MenuGroup](
	[MenuGroupId] [nvarchar](200) NOT NULL,
	[MenuGroupCode] [nvarchar](50) NOT NULL,
	[MenuGroupName] [nvarchar](200) NOT NULL,
	[Url] [nvarchar](200) NULL,
	[Icon] [nvarchar](200) NULL,
	[SortOrder] [int] NULL,
	[HasMenuItem] [bit] NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](200) NOT NULL,
	[ModifiedAt] [datetime2](7) NULL,
	[ModifiedBy] [nvarchar](200) NULL,
	[DeleteFlag] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MenuGroupId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Payroll]    Script Date: 11/2/2025 9:37:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Payroll](
	[PayrollId] [nvarchar](200) NOT NULL,
	[PayrollCode] [nvarchar](50) NOT NULL,
	[EmployeeCode] [nvarchar](50) NULL,
	[PayrollDate] [datetime] NULL,
	[Status] [nvarchar](50) NULL,
	[TotalWorkingHour] [int] NULL,
	[LeaveHour] [decimal](8, 2) NULL,
	[ActualWorkingHour] [decimal](8, 2) NULL,
	[BaseSalary] [decimal](18, 2) NULL,
	[Allowance] [decimal](18, 2) NULL,
	[GrossPay] [decimal](18, 2) NULL,
	[Deduction] [decimal](18, 2) NULL,
	[Tax] [decimal](18, 2) NULL,
	[Bonus] [decimal](18, 2) NULL,
	[NetPay] [decimal](18, 2) NULL,
	[CreatedBy] [nvarchar](200) NULL,
	[CreatedAt] [datetime2](7) NULL,
	[ModifiedBy] [nvarchar](200) NULL,
	[ModifiedAt] [datetime2](7) NULL,
	[DeleteFlag] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[PayrollId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Project]    Script Date: 11/2/2025 9:37:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Project](
	[ProjectId] [nvarchar](200) NOT NULL,
	[ProjectCode] [nvarchar](50) NOT NULL,
	[ProjectName] [nvarchar](200) NOT NULL,
	[ProjectDescription] [nvarchar](200) NULL,
	[StartDate] [datetime2](7) NULL,
	[EndDate] [datetime2](7) NULL,
	[ProjectStatus] [nvarchar](50) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](200) NOT NULL,
	[ModifiedAt] [datetime2](7) NULL,
	[ModifiedBy] [nvarchar](200) NULL,
	[DeleteFlag] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ProjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_RefreshToken]    Script Date: 11/2/2025 9:37:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_RefreshToken](
	[Token] [nvarchar](200) NOT NULL,
	[JwtId] [nvarchar](450) NOT NULL,
	[ExpiryDate] [datetime2](7) NOT NULL,
	[RevokedAt] [datetime2](7) NULL,
	[IsRevoked] [bit] NOT NULL,
	[EmployeeCode] [nvarchar](50) NOT NULL,
	[CreatedBy] [nvarchar](200) NULL,
	[CreatedAt] [datetime2](7) NULL,
	[ModifiedBy] [nvarchar](200) NULL,
	[ModifiedAt] [datetime2](7) NULL,
	[DeleteFlag] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Token] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Role]    Script Date: 11/2/2025 9:37:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Role](
	[RoleId] [nvarchar](200) NOT NULL,
	[RoleCode] [nvarchar](50) NOT NULL,
	[RoleName] [nvarchar](200) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](200) NOT NULL,
	[ModifiedAt] [datetime2](7) NULL,
	[ModifiedBy] [nvarchar](200) NULL,
	[DeleteFlag] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_RoleAndMenuPermission]    Script Date: 11/2/2025 9:37:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_RoleAndMenuPermission](
	[RoleAndMenuPermissionId] [nvarchar](200) NOT NULL,
	[RoleAndMenuPermissionCode] [nvarchar](50) NULL,
	[RoleCode] [nvarchar](50) NOT NULL,
	[MenuGroupCode] [nvarchar](50) NULL,
	[MenuCode] [nvarchar](50) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](200) NOT NULL,
	[ModifiedAt] [datetime2](7) NULL,
	[ModifiedBy] [nvarchar](200) NULL,
	[DeleteFlag] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleAndMenuPermissionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Sequence]    Script Date: 11/2/2025 9:37:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Sequence](
	[SequenceId] [nvarchar](200) NOT NULL,
	[UniqueName] [nvarchar](50) NULL,
	[SequenceNo] [nvarchar](50) NULL,
	[SequenceDate] [datetime] NULL,
	[SequenceType] [nvarchar](50) NULL,
	[DeleteFlag] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[SequenceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Task]    Script Date: 11/2/2025 9:37:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Task](
	[TaskId] [nvarchar](200) NOT NULL,
	[TaskCode] [nvarchar](50) NOT NULL,
	[EmployeeCode] [nvarchar](50) NULL,
	[ProjectCode] [nvarchar](50) NULL,
	[TaskName] [nvarchar](50) NULL,
	[TaskDescription] [nvarchar](200) NULL,
	[StartDate] [datetime2](7) NULL,
	[EndDate] [datetime2](7) NULL,
	[TaskStatus] [nvarchar](50) NULL,
	[WorkingHour] [decimal](4, 2) NULL,
	[CreatedAt] [datetime2](7) NULL,
	[CreatedBy] [nvarchar](200) NULL,
	[ModifiedAt] [datetime2](7) NULL,
	[ModifiedBy] [nvarchar](200) NULL,
	[DeleteFlag] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[TaskId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Verification]    Script Date: 11/2/2025 9:37:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Verification](
	[VerificationId] [nvarchar](200) NOT NULL,
	[VerificationCode] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](200) NOT NULL,
	[ExpiredTime] [datetime] NULL,
	[IsUsed] [bit] NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](200) NOT NULL,
	[ModifiedAt] [datetime2](7) NULL,
	[ModifiedBy] [nvarchar](200) NULL,
	[DeleteFlag] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[VerificationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Tbl_Menu] ([MenuId], [MenuCode], [MenuGroupCode], [MenuName], [Url], [Icon], [SortOrder], [CreatedAt], [CreatedBy], [ModifiedAt], [ModifiedBy], [DeleteFlag]) VALUES (N'019a2330-a837-742b-bb1c-4419d365c4ca', N'USER_REPORT', N'REPORTS', N'User Activity Report', N'/reports/users', N'user_report_icon', 2, CAST(N'2025-10-27T07:35:35.7733333' AS DateTime2), N'admin', CAST(N'2025-10-27T07:35:35.7733333' AS DateTime2), N'admin', 0)
INSERT [dbo].[Tbl_Menu] ([MenuId], [MenuCode], [MenuGroupCode], [MenuName], [Url], [Icon], [SortOrder], [CreatedAt], [CreatedBy], [ModifiedAt], [ModifiedBy], [DeleteFlag]) VALUES (N'019a2330-a838-70a6-865d-0518dbc252ba', N'DASH_OVERVIEW', N'DASHBOARD', N'Overview', N'/dashboard/overview', N'overview_icon', 1, CAST(N'2025-10-27T07:35:35.7733333' AS DateTime2), N'admin', CAST(N'2025-10-27T07:35:35.7733333' AS DateTime2), N'admin', 0)
INSERT [dbo].[Tbl_Menu] ([MenuId], [MenuCode], [MenuGroupCode], [MenuName], [Url], [Icon], [SortOrder], [CreatedAt], [CreatedBy], [ModifiedAt], [ModifiedBy], [DeleteFlag]) VALUES (N'019a2330-a838-727f-a272-d1da1113aaed', N'USER_ROLES', N'USER_MGMT', N'Roles & Permissions', N'/users/roles', N'roles_icon', 2, CAST(N'2025-10-27T07:35:35.7733333' AS DateTime2), N'admin', CAST(N'2025-10-27T07:35:35.7733333' AS DateTime2), N'admin', 0)
GO
INSERT [dbo].[Tbl_MenuGroup] ([MenuGroupId], [MenuGroupCode], [MenuGroupName], [Url], [Icon], [SortOrder], [HasMenuItem], [CreatedAt], [CreatedBy], [ModifiedAt], [ModifiedBy], [DeleteFlag]) VALUES (N'019a2330-a836-7f74-8c97-c57957cfba8c', N'DASHBOARD', N'Dashboard', N'/dashboard', N'dashboard_icon', 1, 1, CAST(N'2025-10-27T07:35:35.7600000' AS DateTime2), N'admin', CAST(N'2025-10-27T07:35:35.7600000' AS DateTime2), N'admin', 0)
INSERT [dbo].[Tbl_MenuGroup] ([MenuGroupId], [MenuGroupCode], [MenuGroupName], [Url], [Icon], [SortOrder], [HasMenuItem], [CreatedAt], [CreatedBy], [ModifiedAt], [ModifiedBy], [DeleteFlag]) VALUES (N'019a2330-a837-7001-95ca-247c8d6a40a6', N'USER_MGMT', N'User Management', N'/users', N'users_icon', 2, 1, CAST(N'2025-10-27T07:35:35.7600000' AS DateTime2), N'admin', CAST(N'2025-10-27T07:35:35.7600000' AS DateTime2), N'admin', 0)
INSERT [dbo].[Tbl_MenuGroup] ([MenuGroupId], [MenuGroupCode], [MenuGroupName], [Url], [Icon], [SortOrder], [HasMenuItem], [CreatedAt], [CreatedBy], [ModifiedAt], [ModifiedBy], [DeleteFlag]) VALUES (N'019a2330-a837-77b3-84d2-48f82f002cda', N'REPORTS', N'Reports', N'/reports', N'reports_icon', 4, 1, CAST(N'2025-10-27T07:35:35.7600000' AS DateTime2), N'admin', CAST(N'2025-10-27T07:35:35.7600000' AS DateTime2), N'admin', 0)
GO
INSERT [dbo].[Tbl_Project] ([ProjectId], [ProjectCode], [ProjectName], [ProjectDescription], [StartDate], [EndDate], [ProjectStatus], [CreatedAt], [CreatedBy], [ModifiedAt], [ModifiedBy], [DeleteFlag]) VALUES (N'01K92EX13JP1PPMEZ7BH1VTZWF', N'PJ_251102_0001', N'ERP edit test', N'Deploy ERP system across departments', CAST(N'2025-10-21T00:00:00.0000000' AS DateTime2), CAST(N'2026-03-31T00:00:00.0000000' AS DateTime2), N'Active', CAST(N'2025-11-02T14:17:53.5266667' AS DateTime2), N'TestingUser', CAST(N'2025-11-02T14:20:09.2000000' AS DateTime2), N'TestingUser', 1)
INSERT [dbo].[Tbl_Project] ([ProjectId], [ProjectCode], [ProjectName], [ProjectDescription], [StartDate], [EndDate], [ProjectStatus], [CreatedAt], [CreatedBy], [ModifiedAt], [ModifiedBy], [DeleteFlag]) VALUES (N'01K92F4TMB3Y6SWBPXQCZQ1AVK', N'PJ_251102_0002', N'AML Project', N'', CAST(N'2025-11-01T00:00:00.0000000' AS DateTime2), CAST(N'2026-03-31T00:00:00.0000000' AS DateTime2), N'Active', CAST(N'2025-11-02T14:22:09.0366667' AS DateTime2), N'TestingUser', NULL, NULL, 0)
GO
INSERT [dbo].[Tbl_Role] ([RoleId], [RoleCode], [RoleName], [CreatedAt], [CreatedBy], [ModifiedAt], [ModifiedBy], [DeleteFlag]) VALUES (N'01K8D7W2R5TVQ981ZBH3BM6KTK', N'ADMIN', N'Admin', CAST(N'2025-10-25T15:00:59.3400000' AS DateTime2), N'admin', CAST(N'2025-10-25T15:03:53.3566667' AS DateTime2), N'admin', 0)
INSERT [dbo].[Tbl_Role] ([RoleId], [RoleCode], [RoleName], [CreatedAt], [CreatedBy], [ModifiedAt], [ModifiedBy], [DeleteFlag]) VALUES (N'01K8D7YH67RWG6CS05Y4F6V9VS', N'EDITOR', N'Editor', CAST(N'2025-10-25T15:02:19.6566667' AS DateTime2), N'admin', NULL, NULL, 0)
INSERT [dbo].[Tbl_Role] ([RoleId], [RoleCode], [RoleName], [CreatedAt], [CreatedBy], [ModifiedAt], [ModifiedBy], [DeleteFlag]) VALUES (N'01K900GJ9Y3YW482MHN37PWZF2', N'RL_251101_0001', N'HR', CAST(N'2025-11-01T15:27:56.2300000' AS DateTime2), N'admin', NULL, NULL, 0)
GO
INSERT [dbo].[Tbl_RoleAndMenuPermission] ([RoleAndMenuPermissionId], [RoleAndMenuPermissionCode], [RoleCode], [MenuGroupCode], [MenuCode], [CreatedAt], [CreatedBy], [ModifiedAt], [ModifiedBy], [DeleteFlag]) VALUES (N'90887f30-af67-4a6b-a9c3-36814312728a', N'PermissionCode', N'VIEWER', N'USER_MGMT', N'', CAST(N'2025-10-27T05:51:35.0766667' AS DateTime2), N'admin', NULL, NULL, 0)
INSERT [dbo].[Tbl_RoleAndMenuPermission] ([RoleAndMenuPermissionId], [RoleAndMenuPermissionCode], [RoleCode], [MenuGroupCode], [MenuCode], [CreatedAt], [CreatedBy], [ModifiedAt], [ModifiedBy], [DeleteFlag]) VALUES (N'RMP001', N'ADMIN_DASH_OVERVIEW', N'ADMIN', N'DASHBOARD', N'DASH_OVERVIEW', CAST(N'2025-10-27T11:13:21.3700000' AS DateTime2), N'admin', CAST(N'2025-10-27T11:13:21.3700000' AS DateTime2), N'admin', 0)
INSERT [dbo].[Tbl_RoleAndMenuPermission] ([RoleAndMenuPermissionId], [RoleAndMenuPermissionCode], [RoleCode], [MenuGroupCode], [MenuCode], [CreatedAt], [CreatedBy], [ModifiedAt], [ModifiedBy], [DeleteFlag]) VALUES (N'RMP002', N'ADMIN_USER_LIST', N'ADMIN', N'USER_MGMT', N'USER_LIST', CAST(N'2025-10-27T11:13:21.3700000' AS DateTime2), N'admin', CAST(N'2025-10-27T11:13:21.3700000' AS DateTime2), N'admin', 0)
GO
INSERT [dbo].[Tbl_Sequence] ([SequenceId], [UniqueName], [SequenceNo], [SequenceDate], [SequenceType], [DeleteFlag]) VALUES (N'019a060b-cb1c-7f6c-bf9a-09535b6a6d46', N'RL', N'0002', CAST(N'2025-11-01T22:02:27.697' AS DateTime), N'TABLE', 0)
INSERT [dbo].[Tbl_Sequence] ([SequenceId], [UniqueName], [SequenceNo], [SequenceDate], [SequenceType], [DeleteFlag]) VALUES (N'019a060b-cb1d-7b04-bc11-8583b3210530', N'USR', N'0001', CAST(N'2025-10-25T18:57:45.840' AS DateTime), N'TABLE', 0)
INSERT [dbo].[Tbl_Sequence] ([SequenceId], [UniqueName], [SequenceNo], [SequenceDate], [SequenceType], [DeleteFlag]) VALUES (N'019a060b-cb1e-7398-97ef-38d6a089783d', N'RL_MENU_PM', N'0001', CAST(N'2025-10-21T16:09:49.000' AS DateTime), N'PERMISSIONS', 0)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Tbl_Atte__013780A2C286D91E]    Script Date: 11/2/2025 9:37:52 PM ******/
ALTER TABLE [dbo].[Tbl_Attendance] ADD UNIQUE NONCLUSTERED 
(
	[AttendanceCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Tbl_Comp__1893361320CFD52E]    Script Date: 11/2/2025 9:37:52 PM ******/
ALTER TABLE [dbo].[Tbl_CompanyRule] ADD UNIQUE NONCLUSTERED 
(
	[CompanyRuleCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Tbl_Empl__1F642548D8A5E86F]    Script Date: 11/2/2025 9:37:52 PM ******/
ALTER TABLE [dbo].[Tbl_Employee] ADD UNIQUE NONCLUSTERED 
(
	[EmployeeCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Tbl_Empl__51A84C46E17E83C9]    Script Date: 11/2/2025 9:37:52 PM ******/
ALTER TABLE [dbo].[Tbl_EmployeeProject] ADD UNIQUE NONCLUSTERED 
(
	[EmployeeProjectCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Tbl_Loca__DDB144D5BB8E821C]    Script Date: 11/2/2025 9:37:52 PM ******/
ALTER TABLE [dbo].[Tbl_Location] ADD UNIQUE NONCLUSTERED 
(
	[LocationCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Tbl_Menu__868A3A73598582D2]    Script Date: 11/2/2025 9:37:52 PM ******/
ALTER TABLE [dbo].[Tbl_Menu] ADD UNIQUE NONCLUSTERED 
(
	[MenuCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Tbl_Menu__22599E845A616F2F]    Script Date: 11/2/2025 9:37:52 PM ******/
ALTER TABLE [dbo].[Tbl_MenuGroup] ADD UNIQUE NONCLUSTERED 
(
	[MenuGroupCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Tbl_Payr__EA6E0CAC50A52684]    Script Date: 11/2/2025 9:37:52 PM ******/
ALTER TABLE [dbo].[Tbl_Payroll] ADD UNIQUE NONCLUSTERED 
(
	[PayrollCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Tbl_Proj__2F3A4948AECAA9DA]    Script Date: 11/2/2025 9:37:52 PM ******/
ALTER TABLE [dbo].[Tbl_Project] ADD UNIQUE NONCLUSTERED 
(
	[ProjectCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Tbl_Role__D62CB59C8AA235C5]    Script Date: 11/2/2025 9:37:52 PM ******/
ALTER TABLE [dbo].[Tbl_Role] ADD UNIQUE NONCLUSTERED 
(
	[RoleCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Tbl_Role__AB0007C896ABC595]    Script Date: 11/2/2025 9:37:52 PM ******/
ALTER TABLE [dbo].[Tbl_RoleAndMenuPermission] ADD UNIQUE NONCLUSTERED 
(
	[RoleAndMenuPermissionCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Tbl_Task__251D06996B0F73EF]    Script Date: 11/2/2025 9:37:52 PM ******/
ALTER TABLE [dbo].[Tbl_Task] ADD UNIQUE NONCLUSTERED 
(
	[TaskCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Tbl_Veri__DA24CB14A1F99E79]    Script Date: 11/2/2025 9:37:52 PM ******/
ALTER TABLE [dbo].[Tbl_Verification] ADD UNIQUE NONCLUSTERED 
(
	[VerificationCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Tbl_Attendance] ADD  DEFAULT ((0)) FOR [DeleteFlag]
GO
ALTER TABLE [dbo].[Tbl_CompanyRule] ADD  DEFAULT ((0)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Tbl_CompanyRule] ADD  DEFAULT ((0)) FOR [DeleteFlag]
GO
ALTER TABLE [dbo].[Tbl_Employee] ADD  DEFAULT ((1)) FOR [IsFirstTimeLogin]
GO
ALTER TABLE [dbo].[Tbl_Employee] ADD  DEFAULT ((0)) FOR [DeleteFlag]
GO
ALTER TABLE [dbo].[Tbl_Location] ADD  DEFAULT ((0)) FOR [DeleteFlag]
GO
ALTER TABLE [dbo].[Tbl_Menu] ADD  DEFAULT ((0)) FOR [DeleteFlag]
GO
ALTER TABLE [dbo].[Tbl_MenuGroup] ADD  DEFAULT ((0)) FOR [DeleteFlag]
GO
ALTER TABLE [dbo].[Tbl_Project] ADD  DEFAULT ((0)) FOR [DeleteFlag]
GO
ALTER TABLE [dbo].[Tbl_RefreshToken] ADD  DEFAULT ((0)) FOR [IsRevoked]
GO
ALTER TABLE [dbo].[Tbl_Role] ADD  DEFAULT ((0)) FOR [DeleteFlag]
GO
ALTER TABLE [dbo].[Tbl_Verification] ADD  DEFAULT ((0)) FOR [DeleteFlag]
GO
/****** Object:  StoredProcedure [dbo].[sp_GenerateCode]    Script Date: 11/2/2025 9:37:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GenerateCode] @CodePrefix NVARCHAR(50),
                                 @GeneratedCode NVARCHAR(100) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @TodayDate NVARCHAR(8) = CONVERT(NVARCHAR(8), GETDATE(), 12); -- yymmdd
    DECLARE @CurrentSeqNo INT;
    DECLARE @NewSeqNo NVARCHAR(50);
    DECLARE @UniqueName NVARCHAR(100);
    DECLARE @StoredDate DATE;

    -- Determine UniqueName
--     IF @CodePrefix = 'TASK' AND @ProjectCode IS NOT NULL
--         SET @UniqueName = 'TASK_' + @ProjectCode;
--     ELSE
    SET @UniqueName = @CodePrefix;

    -- Get current sequence and stored date
    SELECT @CurrentSeqNo = TRY_CAST(SequenceNo AS INT),
           @StoredDate = CAST(SequenceDate AS DATE)
    FROM Tbl_Sequence
    WHERE UniqueName = @UniqueName
      AND DeleteFlag = 0;

    -- If no row exists, return NULL
    IF @CurrentSeqNo IS NULL OR @StoredDate IS NULL
        BEGIN
            SET @GeneratedCode = NULL;
            RETURN;
        END

    -- Reset if date is older than today
    IF @StoredDate < CAST(GETDATE() AS DATE)
        SET @CurrentSeqNo = 1;
    ELSE
        SET @CurrentSeqNo = @CurrentSeqNo + 1;

    -- Format sequence number
    SET @NewSeqNo = RIGHT('0000' + CAST(@CurrentSeqNo AS NVARCHAR(50)), 4);

    -- Update sequence
    UPDATE Tbl_Sequence
    SET SequenceNo   = @NewSeqNo,
        SequenceDate = GETDATE()
    WHERE UniqueName = @UniqueName
      AND DeleteFlag = 0;

    -- Build final code
--     IF @CodePrefix = 'TASK' AND @ProjectCode IS NOT NULL
--         SET @GeneratedCode = 'TASK_' + @ProjectCode + '_' + @NewSeqNo;
--     ELSE
        SET @GeneratedCode = @CodePrefix + '_' + @TodayDate + '_' + @NewSeqNo;
END
GO
